pytorch
python
pip
wxPython
Gooey
numpy
tqdm
pytest
pytorch
torchvision
cython
munkres
pillow
opencv_python
git+https://github.com/facebookresearch/fvcore@4354c8c09e5dfb22f6e84172d46b7ece24446bc1
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI