
-f https://download.pytorch.org/whl/torch_stable.html
torch== 1.8.1+cpu 
torchvision==0.9.1+cpu
git clone https://github.com/facebookresearch/detectron2.git
python -m pip install -e detectron2
pillow>=8.3.2
opencv-python-headless
requests==2.22.0
Flask==1.1.1
Jinja2==2.11.3
gunicorn==19.9.0
certifi==2019.11.28
itsdangerous==1.1.0
docutils==0.16



