pytorch
python
pip
wxPython
Gooey
numpy
tqdm
pytest
pytorch
torchvision
cython
munkres
pillow
opencv_python
git+https://github.com/facebookresearch/fvcore.git
git+https://github.com/cocodataset/cocoapi.git