<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Instance segmentation </title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='./style.css') }}">
<link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVQI12P4//8/AAX+Av7czFnnAAAAAElFTkSuQmCC">
</head>
<body>
 <div class="login">
	<h1>Модульная обработка изображений с использованием OpenCV и генераторов Python с помощью Detectron2 </h1>
    <h2></h2>
        <h3>загрузите Ваш файл в формате .jpeg, .jpg, .png или укажите ссылку на него</h3> 
                <br>
        <h4 for="number"> Если вы хотите классифицировать изображения - Ваш режим Сегментация. Для выделения фона - Затенить фон. Также Вам доступен режим Ключевых точек. Вы можете добавить Blur или сделать изображение Черно-белым. Некоторые режимы могут занять некоторое время. Для ссылок доступна только сегментация</h4> 
        <hr size="4" width="100%" color="white"> 

          
        <form action="/predict" method="POST" enctype = "multipart/form-data" style="text-align: center;">
            <label for="confidence">Порог уверенности (confidence) для изображения: </label> 
            <br>
            <br>
            <input type="number"  step=0.01 placeholder="Порог уверенности (confidence)" name="confidence" value=0.7 min="0" max="1" required="required" style="text-align: center;">
            <section class="container" style="display: inline;">
                <div class="dropdown dropdown-dark">
                    <select name="mode" required="required" class="dropdown-select">
                        <option value="">Режим работы</option>
                        <option value="instance_segmentation">Сегментация</option>
                        <option value="key_points">Ключевые точки</option>
                        <option value="separate_background">Затенить фон</option>  
                        <option value="grayscale">Black&White</option>   
                        <option value="blur">Blur</option>   
                    </select>
                </div>
            <br>
            <input type="file" name="file">
            <input name="submit" type="submit" class="btn btn-primary btn-block btn-large">
            </form>
             <br>

             <hr size="4" width="100%" color="white"> 
             <br>
    
    <form action="/predict" enctype = "multipart/form-data" method="GET" style="text-align: left;">
        <label for="url">Введите для изображения ссылку https:// URL. Доступна только сегментация: </label>
        <br>

        <input type="url" name="url" id="url"
           placeholder="https://img_001.com"
           value = "https://i.ibb.co/fGc8xgf/0001.jpg"
           pattern="https://.*" size="30"
           >
    <input type="submit" class="btn btn-primary btn-block btn-large">
    </form>
   
 </div>

</body>
</html>
