<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Instance segmentation </title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='./style.css') }}">
</head>
<body>
 <div class="login">
	<h1>Модульная обработка изображений с использованием OpenCV и генераторов Python с помощью Detectron2 </h1>
    <h2></h2>
        <h3>загрузите Ваш файл в формате .jpeg, .jpg, .png или укажите ссылку на него</h3> 
        <hr size="4" width="100%" color="white"> 


     
            <label for="confidence">Порог уверенности (confidence) для изображения 0.7 </label><br> 
        
    <form action="/predict" method="POST" enctype = "multipart/form-data" style="text-align: center;">  
        <section class="container" style="display: inline;">
        <div class="dropdown dropdown-dark">
            <select name="mode" required="required" class="dropdown-select">
            <option value="">Режим работы</option>
            <option value="instance_segmentation">Сегментация</option>
            <option value="separate_background">Затенить фон</option>    
            </select>
        </div>

    <form action="/predict" enctype = "multipart/form-data" method="POST" style="text-align: left;" >
          <input type="file" name="file">
          <input name="submit" type="submit" class="btn btn-primary btn-block btn-large">
    </form>
         <br>

 <hr size="4" width="100%" color="white"> 
 <br>
    
    <form action="/predict" enctype = "multipart/form-data" method="GET" style="text-align: left;">
        <label for="url">Введите для изображения ссылку https:// URL:</label>
        <br>
        <input type="url" name="url" id="url"
           placeholder="https://img_001.com"
           value = "https://i.ibb.co/fGc8xgf/0001.jpg"
           pattern="https://.*" size="30"
           >
    <input type="submit" class="btn btn-primary btn-block btn-large">
    </form>
   
 </div>

</body>
</html>